<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="cric" class="com.nt.beans.CricketBat"/>
<bean id="cricket" class="com.nt.beans.Cricketer">
	<property name="name" value="Sreehari"/>
	<property name="jersyNo" value="27"/>
	<property name="beanId">
	<idref bean="cric"/>
	</property>
</bean>

</beans>
